h1 {
    border-bottom:10px solid rebeccapurple;
    padding:20px;
    margin-bottom:0;
}
ol{
    border-right:10px solid cadetblue;
    margin-top:0;
}
#container{
    display:grid;
    grid-template-columns: 150px 1fr;
}